
.container-mapa{
	width: 527px;
	height: 532px;
	position: relative;
	background: url(../img/mapa.png);
}

.container-mapa .uf{
	position: absolute;
	cursor: pointer;
}

.container-mapa .uf .marcador {
    width: 40px;
    height: 39px;
    display: block;
    position: relative;
    background: url(../img/marcador-mapa.png) center no-repeat;
    z-index: 99;
}

.container-mapa .uf-ac{
    width: 92px;
    height: 51px;
    top: 172px;
    left: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/img-ac.png);
}

.container-mapa .uf-am{
    width: 235px;
    height: 162px;
    top: 43px;
    left: 3px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/img-am.png);
}

.container-mapa .uf-ro{
    width: 90px;
    height: 75px;
    top: 182px;
    left: 97px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/img-ro.png);
}

.container-mapa .uf-rr{
    width: 77px;
    height: 90px;
    top: 0px;
    left: 124px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-rr.png);
}

.container-mapa .uf-pa{
    width: 177px;
    height: 167px;
    top: 37px;
    left: 203px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-pa.png);
}

.container-mapa .uf-ap{
    width: 64px;
    height: 78px;
    top: 14px;
    left: 259px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-ap.png);
}

.container-mapa .uf-to{
    width: 63px;
    height: 109px;
    top: 144px;
    left: 315px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-to.png);
}

.container-mapa .uf-mt{
    width: 154px;
    height: 143px;
    top: 174px;
    left: 165px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-mt.png);
}

.container-mapa .uf-ms{
    width: 96px;
    height: 92px;
    top: 307px;
    left: 212px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-ms.png);
}

.container-mapa .uf-go{
    width: 96px;
    height: 91px;
    top: 246px;
    left: 281px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-go.png);
}

.container-mapa .uf-ma{
    width: 86px;
    height: 123px;
    top: 89px;
    left: 346px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-ma.png);
}

.container-mapa .uf-pi{
    width: 72px;
    height: 106px;
    top: 112px;
    left: 379px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-pi.png);
}

.container-mapa .uf-ce{
    width: 52px;
    height: 65px;
    top: 112px;
    left: 441px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-ce.png);
}

.container-mapa .uf-rn{
    width: 44px;
    height: 26px;
    top: 139px;
    left: 479px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-rn.png);
}

.container-mapa .uf-pb{
    width: 50px;
    height: 27px;
    top: 156px;
    left: 477px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-pb.png);
}

.container-mapa .uf-pe{
    width: 82px;
    height: 27px;
    top: 173px;
    left: 444px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-pe.png);
}

.container-mapa .uf-al{
    width: 92px;
    height: 51px;
    top: 176px;
    left: 456px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-al.png);
}

.container-mapa .uf-se{
    width: 20px;
    height: 27px;
    top: 202px;
    left: 484px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-se.png);
}

.container-mapa .uf-ba{
    width: 119px;
    height: 130px;
    top: 190px;
    left: 372px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-ba.png);
}

.container-mapa .uf-mg{
    width: 147px;
    height: 116px;
    top: 268px;
    left: 310px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-mg.png);
}

.container-mapa .uf-es{
    width: 27px;
    height: 43px;
    top: 318px;
    left: 434px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-es.png);
}

.container-mapa .uf-rj{
    width: 48px;
    height: 27px;
    top: 359px;
    left: 396px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-rj.png);
}

.container-mapa .uf-sp{
    width: 114px;
    height: 71px;
    top: 344px;
    left: 285px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-sp.png);
}

.container-mapa .uf-pr{
    width: 84px;
    height: 53px;
    top: 382px;
    left: 263px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-pr.png);
}

.container-mapa .uf-sc{
    width: 69px;
    height: 44px;
    top: 428px;
    left: 273px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-sc.png);
}

.container-mapa .uf-rs{
    width: 105px;
    height: 88px;
    top: 444px;
    left: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img-rs.png);
}


.container-mapa .uf-ac .marcador{top: 15px; left: 20px;}

.container-mapa .uf-am .marcador{top: 70px; left: 115px;}

.container-mapa .uf-ro .marcador{top: 25px; left: 25px;}

.container-mapa .uf-rr .marcador{top: 25px; left: 25px;}

.container-mapa .uf-pa .marcador{top: 75px; left: 65px;}

.container-mapa .uf-ap .marcador{top: 15px; left: 20px;}

.container-mapa .uf-to .marcador{top: 50px; left: 15px;}

.container-mapa .uf-mt .marcador{top: 50px; left: 50px;}

.container-mapa .uf-ms .marcador{top: 25px; left: 30px;}

.container-mapa .uf-go .marcador{top: 35px; left: 20px;}

.container-mapa .uf-ma .marcador{top: 35px; left: 20px;}

.container-mapa .uf-pi .marcador{top: 35px; left: 25px;}

.container-mapa .uf-ce .marcador{top: 0; left: 0;}

.container-mapa .uf-rn .marcador{top: -25px; left: 15px;}

.container-mapa .uf-pb .marcador{top: -15px; left: 35px;}

.container-mapa .uf-pe .marcador{top: -5px; left: 70px;}

.container-mapa .uf-al .marcador{top: 20px; left: 45px;}

.container-mapa .uf-se .marcador{top: 15px; left: 0;}

.container-mapa .uf-ba .marcador{top: 30px; left: 50px;}

.container-mapa .uf-mg .marcador{top: 40px; left: 70px;}

.container-mapa .uf-es .marcador{top: 10px; left: 13px;}

.container-mapa .uf-rj .marcador{top: 15px; left: 20px;}

.container-mapa .uf-sp .marcador{top: 20px; left: 45px;}

.container-mapa .uf-pr .marcador{top: 5px; left: 15px;}

.container-mapa .uf-sc .marcador{top: 10px; left: 50px;}

.container-mapa .uf-rs .marcador{top: 20px; left: 50px;}


.container-mapa .uf-ac.ativo,
.container-mapa .uf-ac:hover{background-image: url(../img/img-ac-hover.png);}

.container-mapa .uf-am.ativo,
.container-mapa .uf-am:hover{background-image: url(../img/img-am-hover.png);}

.container-mapa .uf-ro.ativo,
.container-mapa .uf-ro:hover{background-image: url(../img/img-ro-hover.png);}

.container-mapa .uf-rr.ativo,
.container-mapa .uf-rr:hover{background-image: url(../img/img-rr-hover.png);}

.container-mapa .uf-pa.ativo,
.container-mapa .uf-pa:hover{background-image: url(../img/img-pa-hover.png);}

.container-mapa .uf-ap.ativo,
.container-mapa .uf-ap:hover{background-image: url(../img/img-ap-hover.png);}

.container-mapa .uf-to.ativo,
.container-mapa .uf-to:hover{background-image: url(../img/img-to-hover.png);}

.container-mapa .uf-mt.ativo,
.container-mapa .uf-mt:hover{background-image: url(../img/img-mt-hover.png);}

.container-mapa .uf-ms.ativo,
.container-mapa .uf-ms:hover{background-image: url(../img/img-ms-hover.png);}

.container-mapa .uf-go.ativo,
.container-mapa .uf-go:hover{background-image: url(../img/img-go-hover.png);}

.container-mapa .uf-ma.ativo,
.container-mapa .uf-ma:hover{background-image: url(../img/img-ma-hover.png);}

.container-mapa .uf-pi.ativo,
.container-mapa .uf-pi:hover{background-image: url(../img/img-pi-hover.png);}

.container-mapa .uf-ce.ativo,
.container-mapa .uf-ce:hover{background-image: url(../img/img-ce-hover.png);}

.container-mapa .uf-rn.ativo,
.container-mapa .uf-rn:hover{background-image: url(../img/img-rn-hover.png);}

.container-mapa .uf-pb.ativo,
.container-mapa .uf-pb:hover{background-image: url(../img/img-pb-hover.png);}

.container-mapa .uf-pe.ativo,
.container-mapa .uf-pe:hover{background-image: url(../img/img-pe-hover.png);}

.container-mapa .uf-al.ativo,
.container-mapa .uf-al:hover{background-image: url(../img/img-al-hover.png);}

.container-mapa .uf-se.ativo,
.container-mapa .uf-se:hover{background-image: url(../img/img-se-hover.png);}

.container-mapa .uf-ba.ativo,
.container-mapa .uf-ba:hover{background-image: url(../img/img-ba-hover.png);}

.container-mapa .uf-mg.ativo,
.container-mapa .uf-mg:hover{background-image: url(../img/img-mg-hover.png);}

.container-mapa .uf-es.ativo,
.container-mapa .uf-es:hover{background-image: url(../img/img-es-hover.png);}

.container-mapa .uf-rj.ativo,
.container-mapa .uf-rj:hover{background-image: url(../img/img-rj-hover.png);}

.container-mapa .uf-sp.ativo,
.container-mapa .uf-sp:hover{background-image: url(../img/img-sp-hover.png);}

.container-mapa .uf-pr.ativo,
.container-mapa .uf-pr:hover{background-image: url(../img/img-pr-hover.png);}

.container-mapa .uf-sc.ativo,
.container-mapa .uf-sc:hover{background-image: url(../img/img-sc-hover.png);}

.container-mapa .uf-rs.ativo,
.container-mapa .uf-rs:hover{background-image: url(../img/img-rs-hover.png);}


.endereco-representante,
.telefones-representante,
.emails-representante{
	color: #777;
	line-height: 24px;
	margin-bottom: 20px;
	padding-left: 40px;
	min-height: 38px;
	background-repeat: no-repeat;
	background-position: left top;
	}

.endereco-representante{background-image: url(../img/ico-pin.png);color: green;}
.telefones-representante {background-image: url(../img/ico-tel.png);}
.emails-representante{background-image: url(../img/ico-mail.png);}

.emails-representante a,
.telefones-representante a{display: block;}
