.container-mapa{
	width: 527px;
	height: 532px;
	position: relative;
}

.container-mapa:before{
	font-family: 'icomoon';
    content: '\e91d';
    font-size: 531px;
    position: relative;
    top: -113px;
    left: 2px;
	color: #69A0B0;
}

.endereco-representante,
.telefones-representante,
.emails-representante{
	color: green;
	line-height: 24px;
	margin-bottom: 20px;
	margin-left: 20px;
	overflow: auto;
	}

.endereco-representante i,
.telefones-representante i,
.emails-representante i{
	display: inline-block;
	vertical-align: middle;
	font-size: 22px;
	position: relative;
	float: left;
	margin-right: 10px;
	cursor: default;
}
.endereco-representante i:hover,
.telefones-representante i:hover,
.emails-representante i:hover{
	color:#135C70;
}

.endereco-representante span,
.telefones-representante span,
.emails-representante span{
	float: left;
	width: 360px;
}

.emails-representante a,
.telefones-representante a{display: block;}
